section {
  height: 100%;
  width: auto;
  position: relative;
  text-align: center;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 15px;
  background-color: lightgray;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

img {
  width: 60%;
}

h1 { 
  margin-left: 20px;
}

.mat-typography {
  margin-bottom: 0% !important;
}

.parteTitulo {
  height: 30px;
  margin-left: 10%;
  margin-right: 10%;
}

.titulo {
  font-size: x-large;
  font-size: large;
}

.opcaoTitulo {
  float: left;
}

.opcaoPreco {
  float: right;
  color: rgb(225, 25, 25);
}

.sem-igridientes {
  text-align: center;
}

p {
  color: gray;
  margin: 15px 0;
}

.mat-dialog-content {
  width: 100%;
}

.mat-dialog-actions {
  margin-bottom: 10px;
  position: relative;
  width: 100%;
  display: grid;
  justify-items: center;
}

.mat-button {
  border: 1px solid black;
  background-color: gold;
  transform: scale(1.2);
  margin-bottom: 20px;
}

.mat-divider {
  margin: 5px 20px;
  background-color: lightgray;
}

.menor {
  margin: 5px 50px;
}

ul {
  width: 30%;
  margin: 0 auto;
}

li {
  text-align: start;
}

.contador {
  max-width: 40%;
  margin-bottom: 10px;
}

.mat-form-field-underline {
  background-color: black;
}

.mat-form-field-prefix, .mat-form-field-suffix {
  transform: scale(2);
  margin-bottom: 10px;
}

.mat-form-field-infix {
  font-size: x-large;
}