<section>
  <img [src]="pegarImagemUrl()">
  <div class="parteTitulo" mat-dialog-title>
    <h1 class="titulo opcaoTitulo" >{{ opcao.nome }}</h1>
    <a class="opcaoPreco">{{ textoPreco }}</a>
  </div>
  <mat-divider></mat-divider>
  <div mat-dialog-content>
    <h1 class="titulo">{{ textoDescricao }}</h1>
    <p>{{ opcao.descricao }}</p>
    <mat-divider class="menor"></mat-divider>
    <h1 class="titulo">{{ textoIngridientes }}</h1>
    <p class="sem-ingridientes" *ngIf="!existeIngridientesCadastrados">{{ textoSemIngridientes }}</p>
    <ul *ngIf="existeIngridientesCadastrados">
      <li *ngFor="let ingridiente of opcao.ingridientes">{{ ingridiente }}</li>
    </ul>
  </div>
  <div mat-dialog-actions>
    <app-contador class="contador" [(valor)]="quantidade" (valorAlterado)="valorAlterado($event)"></app-contador>
    <button mat-button (click)="finalizar()">{{ botaoFinalizarTexto }}</button>
  </div>
</section>