<section class="bg-dark" id="contato" >
    <div class="bg-holder d-none d-lg-block animacao-mostrar-2" style="background-image:url(assets/img/food/soup.png);background-position:right;background-size:40%; transform:none;" ></div>
    <div class="container" style="margin-left: 2%;">
      <div class="row">
        <div class="col text-center mb-lg-6 mb-5 mt-7 mt-lg-0">
          <div class="overflow-hidden">
            <h2 class="text-white fs-3 fs-sm-4 font-weight-bold animacao-subir-1" style="margin-left: -25%;" >Fale com a gente</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 mt-4 mt-lg-0">
          <div class="card shadow-sm h-100">
            <div class="card-body pl-5">
              <p class="texto-contato font-weight-bold">Local</p>
              <div class="media mt-4"><span class="fas fa-map text-danger mt-1 mr-2"></span>
                <div class="media-body">
                  <p>Rua por extenso, número<br />Cidade, UF</p>
                </div>
              </div>
              <div class="media"><span class="fas fa-phone mt-1 mr-2 text-danger"></span>
                <div class="media-body"><a class="text-600" href="tel:1500000000">+15 0000-0000</a></div>
              </div>
              <div class="media mt-2"><span class="fas fa-envelope mt-1 mr-2 text-danger"></span>
                <div class="media-body"><a class="text-600" href="mailto:email@email.com">email@email.com</a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 mt-4 mt-lg-0">
          <div class="card shadow-sm h-100">
            <div class="card-body pl-5">
              <p class="texto-contato font-weight-bold">Horário de Serviço</p>
              <p class="mb-0 text-1000">Segunda a Sexta</p>
              <p class="text-600">08:00 - 12:00<br />13:00 - 18:00</p>
              <p class="mb-0 text-1000">Sábado</p>
              <p>08:00 - 12:00</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 mt-4 mt-lg-0">
          <div class="card shadow-sm h-100">
            <div class="card-body pl-5">
              <p class="texto-contato font-weight-bold">Contato</p>
              <p>Testeee, testtando, escrito algo<br />bla bla bla</p>
              <button class="btn btn-primary mt-3 botao-contato" type="button" onclick="abrirLink()"><span class="d-none d-xl-inline">Abrir WhatsApp</span></button>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>     