.inicioFundo, .imagemFundo {
  height: 100%;
  float: left;
}

.pratoChefe {
  position: relative;
  top: 25%;
  left: -40%;
  height: 50%;
  width: auto;
}

.texto {
  position: relative;
  left: 50%;
  top: -60%;
  width: 40%;
  height: 30%;
}

.titulo {
  display: flex;
}

p {
  color: gray;
}

button {
  width: 150px;
  margin-left: auto; 
  margin-right: 150px;
  transform: scale(1.1);
  color: black;
  background-color: gold;
  text-transform: uppercase;
  border: none;
}

button:hover {
  background-color: rgb(200, 200, 50);
}