<mat-form-field>
  <button 
    mat-button 
    mat-icon-button 
    matPrefix 
    aria-label="Remover" 
    [color]="pegarCor()" 
    (click)="alterarValor(-incremento)" 
    [disabled]="permitidoDecremento(valor)">
    <mat-icon>remove</mat-icon>
  </button>
  <input matInput type="number" [(ngModel)]="valor" ngDefaultControl (focus)="mudarCor('primary')" (blur)="mudarCor('default')" />
  <button 
    mat-button 
    mat-icon-button 
    matSuffix
    aria-label="Adicionar" 
    [color]="pegarCor()" 
    (click)="alterarValor(incremento)" 
    [disabled]="permitidoIncremento(valor)">
    <mat-icon>add</mat-icon>
  </button>
</mat-form-field>