<section id="recomendacao" >
    <div class="container">
      <div class="row mb-6">
        <div class="col text-center">
          <div class="overflow-hidden">
            <p class="fs-2 text-1000 mb-1 font-weight-bold animacao-subir-1" >Recomendações</p>
            <h2 class="fs-3 fs-sm-4 font-weight-bold animacao-subir-2" >Para acabar com a fome</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="carousel animacao-aparecer" >
            <div class="hoverbox"><img class="rounded-soft" src="assets/img/food/bowl-delicious-dinner.png" alt=" " />
              <div class="hoverbox-content hoverbox-content-gradient justify-content-center align-items-center rounded-soft">
                <div class="lh-3">
                  <p class="font-weight-bold fs-2 mb-0 text-uppercase text-white mt-10 lh-3">Spicy Chicken <br> spaghetti</p>
                  <p class="text-white">Served with green chillies</p>
                </div>
              </div>
            </div>
            <div class="hoverbox"><img class="rounded-soft" src="assets/img/food/bread-bun-chopping-board.png" alt=" " />
              <div class="hoverbox-content hoverbox-content-gradient justify-content-center align-items-center rounded-soft">
                <div class="lh-3">
                  <p class="font-weight-bold fs-2 mb-0 text-uppercase text-white mt-10 lh-3">Smoked beef <br> sub-sandwitch</p>
                  <p class="text-white">Slow cooked beef sub</p>
                </div>
              </div>
            </div>
            <div class="hoverbox"><img class="rounded-soft" src="assets/img/food/antioxidant-beverage-carrot-juice.png" alt=" " />
              <div class="hoverbox-content hoverbox-content-gradient justify-content-center align-items-center rounded-soft">
                <div class="lh-3">
                  <p class="font-weight-bold fs-2 mb-0 text-uppercase text-white mt-10 lh-3">Pumpkin Spice <br> Juice</p>
                  <p class="text-white">Chilled drink with cinamen</p>
                </div>
              </div>
            </div>
            <div class="hoverbox"><img class="rounded-soft" src="assets/img/food/sec.jpg" alt=" " />
              <div class="hoverbox-content hoverbox-content-gradient justify-content-center align-items-center rounded-soft">
                <div class="lh-3">
                  <p class="font-weight-bold fs-2 mb-0 text-uppercase text-white mt-10 lh-3">Cold milk shake <br> juice</p>
                  <p class="text-white">With fresh milk</p>
                </div>
              </div>
            </div>
            <div class="hoverbox"><img class="rounded-soft" src="assets/img/food/bowl-calcium-cereal.png" alt=" " />
              <div class="hoverbox-content hoverbox-content-gradient justify-content-center align-items-center rounded-soft">
                <div class="lh-3">
                  <p class="font-weight-bold fs-2 mb-0 text-uppercase text-white mt-10 lh-3">Blueberry milk <br> smoothie</p>
                  <p class="text-white">With fresh Papermint</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>