<section>
  <div class="fundoTitulo">
    <h1 class="titulo" mat-dialog-title>{{ textoTitulo }}</h1>
    <h1 class="descricao">{{ textoDescricao }}</h1>
    <mat-divider class="menor"></mat-divider>
  </div>
  <div mat-dialog-content>
    <p class="sem-opcoes" *ngIf="!existeOpcoes">{{ textoSemOpcoes }}</p>
    <ul *ngIf="existeOpcoes">
      <li *ngFor="let opcao of pegarOpcoes()">
        <a class="textoOpcao">{{ textoOpcao(opcao) }}</a>
        <a class="precoOpcao">{{ precoOpcao(opcao) }}</a>
      </li>
    </ul>
  </div>
  <div mat-dialog-actions>
    <a class="precoFinal">{{ precoPedido() }}</a>
    <button mat-button (click)="finalizar()">{{ botaoFinalizarTexto }}</button>
  </div>
</section>