section {
  height: 100%;
  width: auto;
  position: relative;
  text-align: center;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 15px;
  background-color: lightgray;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.mat-typography {
  margin-bottom: 0% !important;
}

.fundoTitulo {
  background-color: #c2121f;
}

.titulo {
  padding: 10px 0 0 0;
  font-size: large;
  color: gold;
}

.descricao {
  font-size: small;
  padding: 0 40px;
  color: white;
}

.sem-opcoes {
  color: rgb(80, 80, 80);
  text-align: center;
}

p {
  color: gray;
  margin: 15px 0;
}

.mat-dialog-content {
  width: 100%;
}

.mat-dialog-actions {
  margin-bottom: 0;
  position: absolute;
  width: 100%;
  display: grid;
  justify-items: center;
  bottom: 0;
}

.mat-button {
  border: 1px solid black;
  background-color: gold;
  transform: scale(1.2);
  margin-bottom: 20px;
}

.mat-divider {
  margin: 5px 0;
  background-color: lightgray;
}

.menor {
  background-color: black;
}

ul {
  width: 70%;
  margin: 0 auto;
  list-style: outside none none;
}

li {
  text-align: start;
}

.textoOpcao {
  float: left;
}

.precoOpcao {
  float: right;
}

.precoFinal {
  margin-bottom: 10px;
}

.mat-form-field-underline {
  background-color: black;
}

.mat-form-field-prefix, .mat-form-field-suffix {
  transform: scale(2);
  margin-bottom: 10px;
}

.mat-form-field-infix {
  font-size: x-large;
}