section {
  height: 250px;
  background-color: #c2121f;
}

img {
  position: relative;
  top: -50%;
  left: 20%;
  max-height: 150%;
}

div {
  position: relative;
  top: -130%;
  left: 50%;
  max-width: 20%;
}

p {
  color: gold;
  font-size: large;
  font-weight: 700;
}

h1 {
  color: white;
  font-size: xx-large;
  margin-bottom: 50px;
}

button {
  width: 150px;
  transform: scale(1.1);
  color: black;
  background-color: gold;
  text-transform: uppercase;
  border: none;
}

button:hover {
  background-color: rgb(200, 200, 50);
}