<section class="py-0" id="inicio">
    <div class="bg-holder d-none d-lg-block animacao-aparecer" style="background-image: url(assets/img/food/Vector.png); background-position:left; background-size:30%;" ></div>
    <div class="row align-items-md-center min-vh-100 no-gutters overflow-hidden">
        <div class="col-md-7 col-lg-6 col-xl-5 col-xxl-4 mt-6 mt-md-0 text-center text-md-left offset-lg-1 order-md-1 px-3 pt-6">
        <div class="overflow-hidden">
            <h1 class="font-weight-light fs-xl-4 fs-sm-3 fs-1 animacao-subir-1">Pratos <span class="font-weight-black">Incríveis</span><br/>pra <span class="font-weight-black">Você.</span></h1>
        </div>
        <p class="d-none d-md-block animacao-subir-2">Todos os dias, nosso restaurante busca novos produtos. Quando você fizer um pedido pode ter certeza que vai saborear delícias fresquinhas e preparadas alguns segundos antes de chegar na sua mesa..</p>
        <a class="btn btn-primary mt-3 animacao-subir-3 navegavel" href="#menu">Ver Menu</a>
        </div>
        <div class="col-md col-lg-4 mt-4 mt-sm-0 overflow-hidden">
        <img class="img-fluid animacao-prato" src="assets/img/food/plate.png" />
        </div>
    </div>
</section>