mat-grid-list {
    background-color: yellow; 
    color: black;
}

mat-grid-tile .a .p {
    color: white !important;
}

.cabecalho {
    display: inline;
    background-color: blue;
}

.cabecalho-item {
    color: gray;
    font-size: 18px;
    padding: 10px 20px;
    display: inline-block;
    width: 15%;
}

.ativo {
    color: black;
    font-weight: bold;
}

.indicador {
    background-color: red;
}